NODE_ENV=''
ROOT_URL=''
SERVER_PORT=''

SOCKET_ADMIN_USER=''
SOCKET_ADMIN_PASS=''

DB_HOST=''
DB_USER=''
DB_PASS=''
DB_NAME=''

JWT_SECRET=''
SESSION_SECRET=''

EMAIL_HOST=''
EMAIL_PORT=
EMAIL_USER=''
EMAIL_PASS=''