.info-text {
    font-size: 1rem !important;
}

.email-input-container {
    width: 450px;
}

@media (max-width: 1950px) {
    .info-text {
        font-size: 0.8rem !important;
    }

    .email-input-container {
        width: 350px !important;
    }
}